/* .prod {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}
.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.details .big-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}
.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span {
  color: crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
}
.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}
.box .cart {
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}
/* 
@media screen and (min-width: 401), (max-width: 480px) {
    .Search .lefts {
      border: none;
    }
    .products .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
    header .category .size {
      width: 90px;
      height: 40px;
    }
  
    header .search {
      margin-left: 1em;
      margin-right: -1.5em;
    }
    .wishList .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
    .products .icons i {
      margin-left: 6.5em;
    }
    .products {
      padding-left: 105px;
    }
    .wishList {
      padding-left: 105px;
    }
    .cart {
      padding-left: 105px;
    }
    .categories {
      padding-left: 105px;
    }
    .Search {
      padding-left: 105px;
    }
    .productDetails .g-0 > * {
      width: 100%;
    }
    .cart .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
    .categories .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .navigation-menu {
      text-align: center;
      margin: 0;
    }
    .products .row > * {
      max-width: 100%;
    }
  
    .navigation-menu div {
      color: black;
      width: 100%;
    }
  
    .navigation .logo h3 {
      font-size: 12px;
    }
  
    header .logo {
      margin-left: 0.1em;
    }
  
    header .nav-wishlist {
      font-size: 20px;
      margin-right: 0.5em;
      margin-left: 1.5em;
    }
  
    header .nav-wishlist .count {
      margin-bottom: 1em;
    }
    header .nav-cart .count {
      margin-bottom: 1em;
    }
    .wishList .lefts {
      border: none;
    }
  
    header .nav-cart {
      font-size: 20px;
      margin-right: 1em;
    }
    .products .lefts {
      border: none;
    }
    .productDetails .right {
      width: 43%;
    }
    .productDetails {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 0px;
      padding-left: 0px;
      height: auto;
    }
  
    .productDetails .left {
      width: 40%;
      height: 43px;
    }
    .productDetails .section {
      margin-left: 2em;
    }
    .productDetails .card img {
      width: 300px;
      height: 300px;
      margin-right: 0;
    }
  
    .productDetails .lefts {
      height: 38px;
      width: 83%;
      border: none;
    }
    .productDetails .card-body {
      padding-left: 0px;
      width: 370px;
      margin-left: -3em;
      margin-right: 0px;
    }
  
    .productDetails .card {
      padding-left: 0;
      margin-left: 0em;
    }
  
    #searchResults {
      position: absolute;
      background: white;
      width: 20%;
      overflow-y: scroll;
      border: 0.3px solid gray;
      left: 220px;
      right: 0;
      top: 46px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .Search .lefts {
      border: none;
    }
    .products .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
    header .category .size {
      width: 90px;
      height: 40px;
    }
  
    header .search {
      margin-left: 1em;
      margin-right: -1.5em;
    }
    .wishList .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
    .products .icons i {
      margin-left: 6.5em;
    }
    .products {
      padding-left: 75px;
    }
    .wishList {
      padding-left: 75px;
    }
    .cart {
      padding-left: 75px;
    }
    .categories {
      padding-left: 23px;
    }
    .categories .icons i {
      margin-left: 6.5em;
    }
    .Search {
      padding-left: 75px;
    }
    .productDetails .g-0 > * {
      width: 100%;
    }
    .cart .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
    .categories .row-cols-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .navigation-menu {
      text-align: center;
      margin: 0;
    }
    .products .row > * {
      max-width: 100%;
    }
  
    .navigation-menu div {
      color: black;
      width: 100%;
    }
  
    .navigation .logo h3 {
      font-size: 12px;
    }
  
    header .logo {
      margin-left: 0.1em;
    }
  
    header .nav-wishlist {
      font-size: 20px;
      margin-right: 0.5em;
      margin-left: 1.5em;
    }
  
    header .nav-wishlist .count {
      margin-bottom: 1em;
    }
    header .nav-cart .count {
      margin-bottom: 1em;
    }
    .wishList .lefts {
      border: none;
    }
  
    header .nav-cart {
      font-size: 20px;
      margin-right: 1em;
    }
    .products .lefts {
      border: none;
    }
    .productDetails .right {
      width: 43%;
    }
    .productDetails {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 0px;
      padding-left: 0px;
      height: auto;
    }
  
    .productDetails .left {
      width: 40%;
      height: 43px;
    }
    .productDetails .section {
      margin-left: 2em;
    }
    .productDetails .card img {
      width: 300px;
      height: 300px;
      margin-right: 0;
    }
  
    .productDetails .lefts {
      height: 38px;
      width: 83%;
      border: none;
    }
    .productDetails .card-body {
      padding-left: 0px;
      width: 370px;
      margin-left: -3em;
      margin-right: 0px;
    }
  
    .productDetails .card {
      padding-left: 0;
      margin-left: 0em;
    }
  
    #searchResults {
      position: absolute;
      background: white;
      width: 20%;
      overflow-y: scroll;
      border: 0.3px solid gray;
      left: 220px;
      right: 0;
      top: 46px;
    }
  }
   */
